@use '@carbon/react' with (
	$font-path: '@ibm/plex'
);
@use '@carbon/styles';
@use '@carbon/colors';
@use '@carbon/react/scss/theme' as theme;
@use '@carbon/react/scss/breakpoint' as breakpoint;
@use '@carbon/react/scss/spacing' as spacing;
@use '@carbon/react/scss/type' as type;
@use '@carbon/motion' as motion;

.container-w-sidenav {
	margin-top: 0 !important;
	padding: 3rem 0 0;
	margin-left: 0.5rem * 32;
	@include breakpoint.breakpoint-down('lg') {
		margin-left: 0;
	}
}

$theme-cosmo: (
	// override here default tokens
	//      layer-01: #ffffff
);

// include in the specific theme class or add to root component to override all
.cds--white {
	@include theme.theme($theme-cosmo);
}

// :root main {}
