@use '@carbon/react' with (
	$font-path: '@ibm/plex'
);
@use '@carbon/styles';
@use '@carbon/colors';
@use '@carbon/react/scss/theme' as theme;
@use '@carbon/react/scss/breakpoint' as breakpoint;
@use '@carbon/react/scss/spacing' as spacing;
@use '@carbon/react/scss/type' as type;
@use '@carbon/motion' as motion;

.container-w-sidenav {
	@apply mr-0 p-0 lg:ml-[calc(32*0.5rem)];

	// @include breakpoint.breakpoint-down('lg') {
	//	margin-left: 0;
	// }
}

.fix-height {
	height: calc(100% - 3rem);
}

$theme-cosmo: (
	// override here default tokens
	//      layer-01: #ffffff
);

// include in the specific theme class or add to root component to override all
.cds--white {
	@include theme.theme($theme-cosmo);
}

// :root main {}
