@use 'sass:map';

$cyan-300: #67e8f9;
$cyan-400: #22d3ee;
$cyan-500: #06b6d4;
$cyan-600: #0891b2;
$cyan-700: #0e7490;
$cyan-800: #155e75;
$cyan-900: #164e63;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-900: #171717;
$aqua: #0d74ad;
$aqua-hover: #086391;
$aqua-active: #06537a;
$aqua-secondary: #033c53;
$aqua-secondary-hover: rgb(25 81 103); // HEX value not working
$aqua-secondary-active: #255d74;
$aqua-danger: #ad0d33;
$theme-cosmo-common: (
	background-brand: $aqua !important,
	button-primary: $aqua !important,
	button-primary-active: $aqua !important,
	button-primary-hover: $aqua-hover !important,
	interactive: $aqua !important,
	link-primary: $aqua !important,
	link-secondary: $aqua-secondary !important,
	button-tertiary: $aqua !important,
	button-secondary: $aqua-secondary !important,
	button-secondary-hover: $aqua-secondary-hover !important,
	button-secondary-active: $aqua-secondary-active !important,
	button-tertiary-hover: $aqua-hover !important,
	button-tertiary-active: $aqua !important,
	border-interactive: $aqua !important,
	button-danger-primary: $aqua-danger !important,
	focus: $aqua !important
);
$theme-cosmo-dark: (
	// override here default tokens
	button-disabled: #525252 !important
);
$theme-cosmo-white: (
	layer-01: $neutral-100 !important,
	background-selected: $neutral-200 !important,
	layer-accent: $neutral-300 !important,
	background-selected-hover: $neutral-300 !important,
	background-active: $neutral-300 !important,
	field-01: $neutral-100 !important,
	layer-selected-inverse: $neutral-900 !important
);
$theme-cosmo-white: map.merge($theme-cosmo-common, $theme-cosmo-white);
$theme-cosmo-dark: map.merge($theme-cosmo-common, $theme-cosmo-dark);
