.fix-width-radio .cds--radio-button__label-text {
	width: 100% !important;
}

.fix-width-radio .cds--radio-button__label {
	width: 100% !important;
}

.fix-width-radio .cds--radio-button-wrapper {
	width: 100% !important;
}
